/* Estilo para el cuerpo de la página */
body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
    margin: 0;
    padding: 0;
}

/* Estilo para el encabezado */
header {
    background-color: #333;
    color: #fff;
    padding: 10px;
    text-align: center;
    font-style: italic; /* Aplica estilo italic al texto */
}

/* Estilo para la barra de navegación */
nav {
    background-color: #444;
    text-align: center;
    padding: 10px;
}

nav a {
    color: #fff;
    text-decoration: none;
    margin: 10px;
    font-weight: bold;
    font-style: italic; /* Aplica estilo italic al texto */
}

nav a:hover {
    text-decoration: underline;
}

/* Estilo para los contenedores */
.container {
    max-width: 800px;
    margin: 25px auto;
    padding: 20px;
    background-color: #fff;
    border: 10px solid #ccc;
    border-radius: 5px;
}

/* Estilo para los títulos */
h1, h2 {
    text-align: center;
    font-style: italic; /* Aplica estilo italic al texto */
}

/* Estilo para las imágenes */
img {
    max-width: 100%;
    height: auto;
}
